/****************TAG SELECTORS************/
body{
  background-color: #14b1ab;
}

hr{
  background-color: #14b1ab;
  border-style: dotted none none;
  border-color: #05dfd7;
  border-width: 10px;
  height: 2px;
  width: 30%;
}
h1{
  color : #f3ecc2;
  font-style: normal;
  font-family: serif;
  font: georgia;
}
h3{
  color: #f3ecc2;
  font-family: serif;
  font: georgia;
}
body{
  color: #f4f6ff
}
/***************CLASS SELECTORS***********/
